```
# Compiled and build artifacts
*.class
target/

# Dependencies
.mypy_cache/
.pytest_cache/
__pycache__/
venv/
.venv/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
```